/* Reset default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  background-image: url('../img/profile.png');
  background-size: cover;
  background-position:right;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

header {
  background: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

header h1 {
  font-size: 2em;
}

nav {
  background: #444;
  padding: 10px 0;
}

nav ul {
  list-style: none;
  text-align: center;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  transition: background 0.3s;
}

nav ul li a:hover {
  background: #555;
}

section {
  padding: 50px 0;
}

section h2 {
  font-size: 2em;
  margin-bottom: 20px;
  text-align: center;
}

.container ul li {
  text-align: center;
  list-style:none;
}

.project {
  margin-bottom: 30px;
}

.project img {
  max-width: 100%;
  height: auto;
}

.project h3 {
  margin-top: 10px;
  text-align: center;
}

.contact p {
  margin-top: 20px;
}
